@import "variables";
@import "mixins";
@import "home";
@import "search-bar";
@import "recent-posts";
@import "results";

html {
  font-size: 62.5%;
  font-family: "Lato";
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

.app-wrapper {
  display: grid;
  justify-content: center;
}

.logo-main,
.recent-posts {
  display: grid;
  justify-items: center;
}
