html {
    font-size: 62.5%;
    font-family: 'Lato';
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.home {
    display: grid;
    align-content: space-around;
    justify-items: center;
    height: 100vh;
    width: 100vw;
}

.post-topic {
    margin-right: 2rem;
}